{% extends 'shop/basic.html' %}

{% block title %} {{product.product_name}} - My Awesome cart {% endblock %}

{% block body %} 


<div class="container my-4">
    <div class="row">
    <div class="col-md-4">
        <div class="row">
            <img src="/media/{{product.image}}" width="233px" height="385px">
        </div>
        <div class="row my-3">
            <button class="btn btn-primary mx-3">Buy Now</button>
            <button class="btn btn-primary">Add to Cart</button>
        </div>
    </div>
    

    <div class="col-md-8" >
        <h3>{{product.product_name}}</h3>
        <section><b>MRP : - {{product.price}}</b></section>
        
        <u style="color: rgb(143, 142, 141);">_______________________________________________________</u>
        <br>
        <h6 style="text-decoration-line: underline; font-style: italic;">{{product.desc}}</h6>
    </div>
</div>
</div>

{% block js %}



<script>

    // finding the cart item in localStorage
    
      if(localStorage.getItem('cart') == null){
      var cart = {};
      }
      else
      {
        // loading the cart if cart has products

      cart = JSON.parse(localStorage.getItem('cart'))
      var total=0
      for (var i in cart){
        total=total+cart[i]
      }
    //   changine cart innerhtml to its increased value 
      document.getElementById('cart').innerHTML = total;
      }

    //   if the addtocart button is clicked , add increase the item 
      // jQuery
      $('.cart').click(function(){
      
        // taking id of the product 
      var idstr = this.id.toString();
      

      if (cart[idstr] !=undefined){
      cart[idstr] = cart[idstr] + 1;
      }
      else
      {
      cart[idstr] = 1;
      }
    
      localStorage.setItem('cart', JSON.stringify(cart));
      
      // used to print the cart item in cart
      var total=0
      for (var i in cart){
        total=total+cart[i]
      }
      document.getElementById('cart').innerHTML = total;
    //   document.getElementById('cart').innerHTML = Object.keys(cart).length;
      });
      
    
    
    // popover show is tooltip displaying logic
    
    
    $('#popcart').popover();
    updatePopover(cart);

function updatePopover(cart) {
    console.log('We are inside updatePopover');
    var popStr = "";
    popStr = popStr + "<h5> Cart for your items in my shopping cart </h5><div class='mx-2 my-2'>";
    popStr = popStr + "</div> <a href='/shop/checkout'><button class='btn btn-primary' id ='checkout'>Checkout</button></a> <button class='btn btn-primary' onclick='clearCart()' id ='clearCart'>Clear Cart</button>     "
    console.log(popStr);
    document.getElementById('popcart').setAttribute('data-content', popStr);
    $('#popcart').popover('show');
}
      </script>


{% endblock%}


{% endblock %}